/* Paleta de colores */
:root{
  --background: #F3F5FC;
  --dark-blue: #0A3871;
  --gray: #343A40;
  --soft-gray: #D8DFE8;
  --white: #ffffff;
  --footer-blue: #072B61;
}
/* Tamaño de texto en rem */
html{
  font-size: 62.5%;
}
body{
  background: var(--background);
  font-size: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}
.logo{
  padding: 1.6rem 2rem;
  height: 6rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  gap: 3rem;
}
.input-section, .output-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.input-text, .output-text{
  width: 100%;
  height: 36rem;
  border-radius: 1.6rem;
  padding: 3rem;
}
.input-text{
  border: none;
  color: var(--dark-blue);
}
::placeholder{color: var(--dark-blue);}
.input-text:focus{
  outline: none;
}
.output-text{
  background: var(--white);
  background-image: url(assets/Muñeco.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: none;
  color: var(--dark-blue);
}
.output-text:focus{
  outline: none;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}
.btn{
  width: 12rem;
  height: 3rem;
  border-radius: 1.6rem;
}
.encrypt-btn{
  background-color: var(--dark-blue);
  border: 0.1rem solid var(--dark-blue);
  color: var(--white);
}
.decrypt-btn{
  background-color: var(--soft-gray);
  border: 0.1rem solid var(--dark-blue);
  color: var(--dark-blue);
}
.info{
  display: flex;
  align-items: center;
}
.info__icon{
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
}
.info__text{
  color: var(--gray);
  font-size: 1.2rem;
}
.copy-btn{
  border: 0.1rem solid var(--dark-blue);
  color: var(--dark-blue);
  margin-top: 1.9rem;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--footer-blue);
  height: auto;
  padding: 1rem 3rem;
  margin-top: 2rem;
  gap: 1rem;
}
.footer__info{
  color: var(--white);
  font-weight: 600;
  font-style: italic;
}
.footer__media{
  display: flex;
  gap: 1.4rem;
}
.footer__icon{
  width: 3rem;
  height: 3rem;
  background: var(--white);
  border: 0.1rem solid var(--white);
  border-radius: 0.8rem;
}

@media screen and (min-width: 700px) {
  main{
    flex-direction: row;
    padding: 0 5rem;
  }
  .input-section{
    flex: 2;
  }
  .output-section{
    flex: 1;
  }
  .btn{
    width: 16rem;
    height: 4rem;
    font-size: 2rem;
  }
  .btn:hover{
    scale: 1.2;
  }
  footer{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 3rem;
  }
  .footer__icon:hover{
    scale: 1.1;
  }
}
